<div>

  <div class="header">
    <div>
      <span>Candidate Info</span>
    </div>
    <div class="department">
      <div *ngFor="let val of distinctDepartments | keyvalue">
        {{ val.key }} : {{ val.value }}
      </div>
    </div>
  </div>
  <div class="sort-header">
    <div>
      <input type="text" placeholder="Search By Name" [(ngModel)]="searchValue" (keyup)="searchCandidateByName()" />
    </div>
    <button (click)="showAllCandidates()">Show All</button>
    <button (click)="removeDevDepartment()">Remove Dev Dept</button>
    <button (click)="find2YrsPlusCandidates()">Find Exp. more than 2yrs</button>
  </div>



  <div style="display: flex;justify-content: center;">
    <div style="width: 90%;">
      <table id="table">
        <th>Id</th>
        <th (click)="sortCandidates('name')">Name <i class="fa fa-sort" style="font-size:15px"></i></th>
        <th>Department</th>
        <th (click)="sortCandidates('joining_date')">Joining Date <i class="fa fa-sort" style="font-size:15px"></i></th>
        <tr *ngFor="let candidate of CandidateInfoList; trackBy: trackById">
          <td>{{ candidate.id }}</td>
          <td>{{ candidate.name }}</td>
          <td>{{ candidate.department }}</td>
          <td>{{ candidate.joining_date}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
